{% extends 'base.html' %}
{% block title %}Лікарі{% endblock title %}
{% block content %}
{% load permissions_tags %}

    <div class="album py-5 bg-light">
        <div class="container">
            <h1 class="display-2">Список лікарів</h1>
            <div class="row">
                {% if doctors %}
                    {% for doctor in doctors %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="{{ doctor.photo.url }}" data-holder-rendered="true">
                                <div class="card-body">
                                    <p class="card-text">Лікар: <strong>{{ doctor.last_name }} {{ doctor.first_name }}</strong></p>
                                    <p class="card-text">Спеціалізація: <strong>{{ doctor.get_specialization_display }}</strong></p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-sm btn-outline-secondary" href="{{ doctor.get_absolute_url }}">Детальніше</a>
                                            {% if request.user|has_perm:"index.can_edit_doctor" %}
                                                <a class="btn btn-sm btn-outline-primary" href="{% url 'update_doctor' doctor.id %}">Змінити</a>
                                            {% endif %}
                                            {% if request.user|has_perm:"index.can_delete_doctor" %}
                                                <a class="btn btn-sm btn-outline-danger" href="{% url 'delete_doctor' doctor.id %}">Видалити</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Жодного доктора</p>
                {% endif %}
            </div>

        </div>
    </div>

{% endblock content %}