{% extends "base.html" %}
{% block title %}Новий пароль{% endblock title %}
{% block content %}
    {% if validlink %}
    <p><strong>Будь-ласка ведіть (та підтвердіть) свій пароль.</strong></p>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1"><strong>Новий пароль:</strong></label>
                </td>
              <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2"><strong>Підтвердити пароль:</strong></label>
                </td>
              <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Змінити пароль" /></td>
            </tr>
        </table>
    </form>
    {% else %}
        <h1><strong>Помилка скидання пароля</strong></h1>
        <p>
            <strong>
            Посилання для зміни пароля було недійсним, можливо, тому, що воно вже було
            використаним. Будь ласка, надішліть запит на скидання нового пароля.
            </strong>
        </p>
    {% endif %}
{% endblock %}